:root{
    --color-page-bg: #FCF6E5;
    --color-white: #ffffff;
    --color-white-bg-rgb: 255, 255, 255;
    --color-black: #000000;
    --color-black-bg-rgb: 0, 0, 0;
    --color-text-muted: #A1A5B7;
    --color-gray-100: #f5f8fa;
    --color-gray-200: #eff2f5;
    --color-gray-300: #E4E6EF;
    --color-gray-400: #B5B5C3;
    --color-gray-500: #A1A5B7;
    --color-gray-600: #7E8299;
    --color-gray-700: #5E6278;
    --color-gray-800: #3F4254;
    --color-gray-900: #181C32;
    --color-gray-100-rgb: 245, 248, 250;
    --color-gray-200-rgb: 239, 242, 245;
    --color-gray-300-rgb: 228, 230, 239;
    --color-gray-400-rgb: 181, 181, 195;
    --color-gray-500-rgb: 161, 165, 183;
    --color-gray-600-rgb: 126, 130, 153;
    --color-gray-700-rgb: 94, 98, 120;
    --color-gray-800-rgb: 63, 66, 84;
    --color-gray-900-rgb: 24, 28, 50;
    --color-white: #ffffff;
    --color-light: #f5f8fa;
    --color-primary: #3E97FF;
    --color-secondary: #E4E6EF;
    --color-success: #75CC68;
    --color-info: #7239EA;
    --color-warning: #E78B2F;
    --color-danger: #F1416C;
    --color-dark: #181C32;
    --color-primary-active: #2884EF;
    --color-secondary-active: #B5B5C3;
    --color-light-active: #eff2f5;
    --color-success-active: #5FB751;
    --color-info-active: #5014D0;
    --color-warning-active: #CE7317;
    --color-danger-active: #D9214E;
    --color-dark-active: #131628;
    --color-primary-light: #EEF6FF;
    --color-secondary-light: #f5f8fa;
    --color-success-light: #EEFBEC;
    --color-info-light: #F8F5FF;
    --color-warning-light: #FCF2E8;
    --color-danger-light: #FFF5F8;
    --color-dark-light: #eff2f5;
    --color-primary-inverse: #FFFFFF;
    --color-secondary-inverse: #3F4254;
    --color-light-inverse: #7E8299;
    --color-success-inverse: #FFFFFF;
    --color-info-inverse: #FFFFFF;
    --color-warning-inverse: #FFFFFF;
    --color-danger-inverse: #FFFFFF;
    --color-dark-inverse: #ffffff;
    --color-white-rgb: 255, 255, 255;
    --color-light-rgb: 245, 248, 250;
    --color-primary-rgb: 62, 151, 255;
    --color-secondary-rgb: 228, 230, 239;
    --color-success-rgb: 117, 204, 104;
    --color-info-rgb: 114, 57, 234;
    --color-warning-rgb: 231, 139, 47;
    --color-danger-rgb: 241, 65, 108;
    --color-dark-rgb: 24, 28, 50;
    --color-text-white: #ffffff;
    --color-text-primary: #3E97FF;
    --color-text-secondary: #E4E6EF;
    --color-text-light: #f5f8fa;
    --color-text-success: #75CC68;
    --color-text-info: #7239EA;
    --color-text-warning: #E78B2F;
    --color-text-danger: #F1416C;
    --color-text-dark: #181C32;
    --color-text-muted: #A1A5B7;
    --color-text-gray-100: #f5f8fa;
    --color-text-gray-200: #eff2f5;
    --color-text-gray-300: #E4E6EF;
    --color-text-gray-400: #B5B5C3;
    --color-text-gray-500: #A1A5B7;
    --color-text-gray-600: #7E8299;
    --color-text-gray-700: #5E6278;
    --color-text-gray-800: #3F4254;
    --color-text-gray-900: #181C32;
    --color-body-bg: #ffffff;
    --color-body-bg-rgb: 255, 255, 255;
    --color-body-color: #181C32;
    --color-link-color: #3E97FF;
    --color-link-hover-color: #2884EF;
    --color-border-color: #eff2f5;
    --color-border-dashed-color: #E4E6EF;
    --color-component-active-color: #FFFFFF;
    --color-component-active-bg: #3E97FF;
    --color-component-hover-color: #3E97FF;
    --color-component-hover-bg: #F4F6FA;
    --color-component-checked-color: #FFFFFF;
    --color-component-checked-bg: #3E97FF;
    --color-box-shadow-xs: 0px 12px 24px rgba(0, 0, 0, 0.04);
    --color-box-shadow-sm: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
    --color-box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
    --color-box-shadow-lg: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.1);
    --color-headings-color: #181C32;

    --color-app-blank-bg: #ffffff;
}